TELEGRAM_BOT_TOKEN=replace-with-telegram-token
TELEGRAM_WEB_APP_URL=
TELEGRAM_ADMIN_CHAT_IDS=
HTTP_ADMIN_TOKEN=replace-with-http-admin-token
HTTP_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=novelbot
POSTGRES_USER=novelbot
POSTGRES_PASSWORD=novelbot

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=novelbot
RABBITMQ_PASSWORD=novelbot
RABBITMQ_QUEUE=llm.requests

LLM_PROVIDER=GIGACHAT
LLM_API_KEY=
LLM_API_URL=
LLM_MODEL=
GIGACHAT_AUTH_KEY=replace-with-gigachat-authorization-key
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_OAUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_CA_CERT_PATH=
GIGACHAT_VERIFY_SSL=true
PROJECT_AUTHORS=Гвоздева Е.,Крутиков Д.,Михайлова А.,Романова А.
