TELEGRAM_BOT_TOKEN=replace-with-telegram-token
TELEGRAM_WEB_APP_URL=
ADMIN_CHAT_IDS=111111111,222222222
HTTP_ADMIN_TOKEN=replace-with-http-admin-token
HTTP_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=novelbot
POSTGRES_USER=novelbot
POSTGRES_PASSWORD=novelbot

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=novelbot
RABBITMQ_PASSWORD=novelbot
RABBITMQ_QUEUE=llm.requests

LLM_PROVIDER=GIGACHAT
GIGACHAT_AUTH_KEY=replace-with-gigachat-authorization-key
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_OAUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
PROJECT_AUTHORS=Гвоздева Е.,Крутиков Д.,Михайлова А.,Романова А.
